@using DancingGoat.Sections

@model Kentico.PageBuilder.Web.Mvc.ComponentViewModel<ThemeSectionProperties>

<div class="row row--with-cols-padding @Model.Properties.Theme">
    <div class="col-md-6">
        <widget-zone allowed-widgets="ZoneRestrictions.GetNarrowZoneRestrictions()" />
    </div>
    <div class="col-md-6">
        <widget-zone allowed-widgets="ZoneRestrictions.GetNarrowZoneRestrictions()" />
    </div>
</div>